.survey_navbar_ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0px;
  justify-content: center;
}
.survey_navbar_ul > li {
  width: 200px;
  text-align: center;
  font-family: "GyeonggiTitleM";
  font-size: 20px;
  color: #bdbdbd;
}
.survey_navbar_ul span {
  margin-left: 50px;
}
.survey_navbar_ul li:last-child span {
  margin-left: 0px;
}
.survey_navbar_ul .now {
  color: #ff5c35;
}
.survey_progress {
  width: 100%;
  height: 5px;
  margin-bottom: 1em;
}
.survey_progress {
  appearance: none;
}
.survey_progress::-webkit-progress-bar {
  background: #f0f0f0;
  box-shadow: inset 3px 3px 10px #ccc;
}
.survey_progress::-webkit-progress-value {
  background: #ff5c35;
}
@media only screen and (max-width: 1023px) {
  body {
    width: 100%;
  }
  .survey_navbar_ul > li {
    width: 100%;
    /* text-align: left; */
  }
  .survey_navbar .survey_navbar_ul > li {
    font-size: 14px;
  }
}
