.ask {
  padding-top: 62px;
  font-family: "GyeonggiTitleM";
  width: 100%;
  margin: 0 auto;
}

.ask .askContainer {
  width: 100%;
  background-color: rgba(138, 82, 220, 0.04);
}
.ask .askContainer .askArea {
  padding: 130px 0 100px;
  width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.ask .askContainer .askBtnArea button {
  width: 360px;
  height: 72px;
  line-height: 72px;
  background-color: #fee500;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  background-image: url("../image/kakao_chat.png");
  background-repeat: no-repeat;
  background-size: 33px;
  background-position: 80px center;
  padding-left: 32px;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .ask {
    padding-top: 0px;
  }
}
