.form{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    width: 940px;
    height: 100vh;
}
.form__first{
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

#form_logo{
    height: 100%;
}

.form__first h2{
    padding:30px 0px;
}

#link_to_survey{
    margin: 0 auto;
    text-decoration-line: none;
    width: 500px;
}
.start{
    margin: 0 auto;
    display: block;
    width: 500px;
    border-radius: 40px;
    padding:23px 48px;
    background-color: #ff9d00;
    border:0px;
    color:rgb(255, 255, 255);
    font-size:20px;
    font-weight: 600;
    cursor: pointer;
    font-family:'GyeonggiTitleM';
}

.intro_one{
margin-top: 100px;
font-size: 1.2rem;
}

.intro_two{
font-size: 1.2rem;
margin-bottom: 100px;
}

.highlight{
    background: linear-gradient(to top, #c3f8ff 50%, transparent 50%);
}