body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
/* 로고 포함 네비바 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  transform: initial;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.hidden {
  opacity: 0;
  top: -100px;
  transition: 0.3s;
}
/* 필굿 로고 사진 */
.navbar_logo img {
  position: relative;
  margin-top: 0px;
  padding-bottom: 5px;
  backface-visibility: hidden;
  display: inline-block;
  width: 150px;
  text-align: center;
  padding-left: 60px;
}

.navbar__element {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  font-weight: bolder;
}
.navbar__element li {
  padding-right: 60px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
}

.navbar__element a {
  text-decoration: none;
  color: black;
  padding: 0px;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: border;
}
.menu {
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu .line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #000;
  margin-block: 10px;
  border-radius: 4px;
  transition: transform 0.5s, opacity 0.25s;
}
.menu.active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.menu.active .line:nth-child(2) {
  opacity: 0; /*Hides this line.*/
}
.menu.active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

@media screen and (max-width: 1023px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px;
    position: relative;
  }
  .navbar_logo img {
    padding-top: 2vh;
    width: 100px;
  }

  .navbar__element {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__element li {
    width: 100%;
    text-align: center;
    margin: 30px 0px;
    padding-right: 0px;
  }

  .menu {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .navbar__element.active {
    display: flex;
    height: 100%;
  }
}

.behind {
  display: block;
}
