.survey_main_question_answer {
  list-style: none;
  padding-left: 0px;
  margin-top: 10px;
  padding-bottom: 0px;
}

.survey_main_question_answer > li {
  font-family: "GyeonggiTitleM";
  font-size: 18px;
  padding-bottom: 15px;
}

.survey_main_question_answer input[type="checkbox"] {
  display: none;
}

.survey_main_question_answer input[type="checkbox"] + label {
  display: inline-block;
  cursor: default;
  line-height: 30px;
  padding-left: 30px;
  background: url("../../../image/check_off.png") left/22px no-repeat;
}

.survey_main_question_answer input[type="checkbox"]:checked + label {
  background-image: url("../../../image/check_on.png");
}

@media screen and (max-width: 1023px) {
  .survey_main_question_detail {
    text-align: center;
  }
  .survey_main_question .survey_main_question_answer {
    text-align: left;
    padding-left: 25px;
    word-break: keep-all;
  }
  .survey_main_question .warning {
    text-align: left;
    padding-left: 25px;
  }
}
