.list-block {
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    width: 1300px;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
}

.pageNumbers {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pageNumbers li {
    list-style: none;
    padding: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.pageNumbers li:first-child {
    border-radius: 5px 0 0 5px;
}

.pageNumbers li:last-child {
    border-radius: 5px 0 0 5px;
}

.pageNumbers li.active {
    background-color: #337ab7;
    color: black;
}

.pageNumbers li button {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageNumbers li button:hover {
    color: #337ab7;
}

.pageNumbers li button:focus {
    outline: none;
}

.searchBtn,
.searchInput {
    display:inline-block;
    margin: auto;
    position: relative;
    left: 40%;
    padding: 0.8em 3em;
    border-radius: 0;
    color: #323232;
    margin-top: 10rem;
    font-weight: bold;
    font-size: 0.678rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, rgba(#b2876f, 0) 25%, rgba(#b2876f, .8) 75%);
    background-position: 1% 50%;
    background-size: 400% 300%;
    border: 1px solid #232323;
}


.searchBtn:hover,
.searchInput:hover {
    color: white;
    color: #86573e;
    background-position: 99% 50%;
}