/* 첫번째 페이지 전체 설정 */
.main{
    height:100vh;
    width:100%;
    background-color: rgb(169, 232, 248);
    background-image: url('../../image/medical.png');
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 폰트 적용 */
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 메인페이지 내용 */
.main__intro__{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 20vh;
    padding-right: 109px;
    padding-top: 230px;
}

/* 메인페이지 내 큰 글씨 */
.main__intro__main> h2{
    width:527px;
    font-family:'GyeonggiTitleM';
    line-height: 1.7;
    font-weight: 500;
    animation:fadeIn 3s ease-in-out;
    padding-bottom: 0px;
    font-size: 30px;
    text-align: right;
}

/* 화면 너비가 줄어들 경우 반응형으로 메뉴바 나오도록 */
@media screen and (max-width:780px){
    .main{
        background-color: rgb(169, 232, 248);
    }
    .main__intro{
        display: none;
    }
}

.main__intro__>p{
    padding-bottom: 10px;
    width:610px;
    animation:fadeIn 3s ease-in-out;
    line-height: 1.7;
    text-align: right;
    font-family:'GyeonggiTitleM' ;
    font-size:21px;
}

.startForm {
    border-radius: 40px;
    padding: 23px 40px;
    background-color: #ff9d00;
    border: 0px;
    color: rgb(245, 241, 241);
    font-size: 24px;
    cursor: pointer;
    font-family: 'GyeonggiTitleM';
    font-weight: 500;
    position: relative;
}

@keyframes updown{
    from{
        transform: translatey(0px);
      }
      to{
        transform: translatey(-20px);
      }
}