@keyframes updown{
    from{
        transform: translatey(0px);
      }
      to{
        transform: translatey(-20px);
      }
}
.thirdpage{
    height:100%;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:aliceblue;
    justify-content: center;

    font-family: 'Noto Sans KR', sans-serif;
}
#third-text1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    border-bottom: 2px solid rgb(255, 69, 12);
}
#third-text1{
    content: "";
    display: block;
    width: 30%;
    border-bottom: 2.5px solid rgb(255, 69, 12);
    margin:5px auto;
    padding-bottom: 10px;
}
.thirdpage__{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}
.circle1, 
.circle2{
    background-color: white;
    font-size: 80px;
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
    margin-right: 0px;
    margin:20px;
}
.circle1{
    
    background-image: url('../../image/check.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.circle2{
    background-image: url('../../image/pill.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.thirdpage__first,
.thirdpage__second{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    box-shadow: 0px 0px 20px 1px rgb(139, 137, 137);
    border-radius: 10%;
    padding-top: 40px;
    padding:20px;
    margin-bottom: 10px;
    margin-bottom: 41px;
}
.thirdpage__first{
    padding-left: 15px;padding-right: 17px;
    background-color: rgb(255, 255, 255);
}
.thirdpage__second{
    padding-left: 37px;margin-left: 115px;padding-right: 37px;
    margin-right: 0px;
    background-color: rgb(255, 255, 255);
}

.third-text2-p{
    font-size: 18px;
    color:rgb(56, 55, 55);
    font-weight:600;
    padding-top: 10px;
}
third-text2{
    margin-top: 10px;
    padding-top: 40px;
    border-bottom: 2px solid rgb(255, 69, 12);
}
@media screen and (max-width:720px){
    .thirdpage{
       height:0%;
       display: none;
       
    }
    
}
@media screen and (max-width:1299px){
    .thirdpage{
        justify-content: center;
    }
    .thirdpage__second{
        margin-left:0px;
    }
    #third-text1{
        padding-top: 12%;
        font-size: 22px;
        width:31%;
    }
    .thirdpage__second{
        padding-left:10px;
        padding-right:10px;
    }
    .third-text2-p{
        font-size: 15px;
        width:333px;
    }
    .thirdpage__first, .thirdpage__second {
    font-size: 20px;
    color: #ff6124;
    font-weight: bold;
    }
    .thirdpage__{
        padding-top: 2%;
    }
}

